{% extends 'front/base.html' %}
{% load static %}
{% block content %}

<style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 100%;
    }
    </style>
    </head>
    <body>
    
    <div id="demo" class="carousel slide" data-ride="carousel">
    
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/media/caraousal/1.jpg" alt = "Los Angeles" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/media/caraousal/2.jpg" alt="Chicago" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/media/caraousal/3.jpg" alt="New York" width="1100" height="500">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
    </div>
    <!-- <a href="#" class="button">
        <canvas class="button__canvas"></canvas>
        <span class="button__text">Hover me I am liquid</span>
    </a>
    <script type="text/javascript" src="{% static 'js/button.js' %}"></script> -->
        {% for cat in category %}
        <div class="conatainer w-75 category" id = "category-{{forloop.counter}}">
            <div class="box">
                <button class = "home_button btn" id = "button-{{forloop.counter}}"><a href="{% url 'list' cat.id%}" style = "text-decoration: none; color: white;" >{{cat.name}}</a></button>
            </div>
        </div>
        {% endfor %}

{% endblock content %}
